version: "3.9"
services:
  express-node-app:
    build:
      context: .
      target: development
    container_name: express-node-app-container
    volumes:
      - ./src:/app/src:ro
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    depends_on:
      - postgres
      - redis
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    volumes:
      - mongo-db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    depends_on:
      - mongo
  redis:
    image: redis
    container_name: redis
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - express-node-app
volumes:
  mongo-db:
    driver: local
  postgres-db:
    driver: local


#  postgres:
#    container_name: postgres
#    image: postgres
#    restart: always
#    volumes:
#      - postgres-db:/var/lib/postgresql/data
#    environment:
#      POSTGRES_USERNAME: root
#      POSTGRES_PASSWORD: example/
